body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.menu {
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    display: inline-block;
    margin-right: 20px; /* Espaçamento entre os itens do menu */ste
}

.menu ul li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
}
.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu ul li a:hover {
    background-color: #cfe8ee;
}